@use 'variables.scss' as vars;

html{
    font-size: 100%;
}

body {
    font-size: .625rem;
    color: vars.$base-dark;
    font-family: vars.$body-text-font;
    overflow-x: hidden;
}


h1, h2, h3, h4, h5, p {
    margin-bottom: vars.$margin-bottom-std;
} 

h1 {
    @extend %page-header;
    font-size:  6em;
    text-transform: uppercase;
    letter-spacing: .0125em;
}

h2 {
    @extend %page-subheader;
    font-size: 2.4em;
    color: vars.$base-accent;
}

h3 {
    @extend %body-header;
    font-size: 4.2em;
    line-height: .9;
    letter-spacing: .0125em;
}

h4, h5, h6 {
    @extend %light-condensed;
    font-size: 3.8em;
}

p {
    @extend %body-text;
    font-size: 1.7em;
    line-height: 1.6;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    height: auto;
}

picture {
    max-width: 100%;
    display: block;
}

header, 
section, 
main {
    margin-bottom: vars.$margin-bottom-std * 4;
    @media (min-width: vars.$md-width){
        margin-bottom: vars.$margin-bottom-std * 8;
    }
}

.section-images, .section-custom-images {
    margin-bottom: vars.$margin-bottom-std;
    &picture:hover {
        z-index: 1000;
        transform: scale(110%);
        transition: .3s;
    }
}

.image-lgb-cw-section1-0 {
    width: 58%;
    height: auto;
}

#cm-logo path {
    fill: vars.$base-accent;
} 
