@use 'sass:color';
@use 'variables.scss' as vars;

body.page,
body.home,
body.about-me {
    background-color: vars.$background-grey;
    background: linear-gradient(rgba(250,250,250,.73),rgba(250,250,250,.73)), url(../images/noisy-texture-100x100.png) repeat;

    // background: url(../images/noisy-texture-100x100.png) auto repeat;
}

///////////// Components//////////////////

////header////
.site-header {
    font-size: 1em;
    padding: 1.5em 1.5em .6em 1.5em;
    margin: 0;

}

.header-link {
    color: inherit;
    text-decoration: none;
}

.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.header-logo {
    width: 4.2em; 
    margin-right: 1em;
    align-self: flex-start;
}

.header-title {
    font-size: 5em;
    text-transform: uppercase;
    margin-right: .125em;
    margin-bottom: 0;
}

.header-subtitle {
    font-size: 1.4em;
    text-transform: lowercase;
}

@media (min-width: vars.$lg-width){
    .site-header {
        font-size: 1.25em;
    }
}

////Footer//////

.site-footer a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.footer-nav,
.contact-info {
    font-size: 1em;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}

.footer-nav {
    max-width: 600px;
    margin-bottom: vars.$margin-bottom-std * 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav-link {
    @extend %light-condensed;
    font-size: 3.2em;
    text-transform: uppercase;
}

.nav-logo {
    width: 5em;
}

.contact-wrap {
    background: vars.$base-white;
    width: 100%;
    padding-top: vars.$margin-bottom-std * 2;
    padding-bottom: vars.$margin-bottom-std * 2;
}

.contact-info {
    margin-bottom: vars.$margin-bottom-std * 2;
    color: vars.$base-light;
    max-width: 850px;

}

.contact-title {
    @extend %body-text;
    font-size: 2.8em;
    font-style: italic;
    margin-bottom: vars.$margin-bottom-std * 1.5;
}

.contact-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-link {
    @extend %light-condensed;
    font-size: 2.4em;
}


.email-link,
.linkedin-link,
.nav-link{
        transition: .3s;
        &:hover {
            color: vars.$base-accent;
        }
}

.contact-bullet {
    margin-left: 5.5em;
    margin-top: .3em;
    margin-bottom: .3em;
}

.contact-link-image {
    display: inline-block;
    width: 1.25em;
    margin-right: .5em;
    svg {
        display: inline;
    }
}

@media (min-width: 612px){
    .footer-nav {
        font-size: 1.25em;
    }
    .contact-bullet {
        margin: 0;
    }
    .contact-links {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

}

@media(min-width: vars.$md-width){
    .contact-info {
        font-size: 1.2em;
    }
    .footer-nav {
        font-size: 1.9375em;
        margin-bottom: vars.$margin-bottom-std * 6;
    }
    // .nav-logo {
    //     width: 2.7em;
    // }
}

@media(min-width: vars.$lg-width){
    .contact-info {
        font-size: 1.416em;
    }
}



.content-page {
    width: 100%;
    margin: 0;
    picture {
        position: relative;
    }
    h3 {
        text-transform: uppercase;
    }
    h3, p {
        @include vars.max-auto(626px);
    }
}

.page-header {
    padding-top: vars.$margin-bottom-std * 2;
}

.header-images, .page-description, .page-info, .header-images {
    @include vars.max-auto(62.6em);
}

.section-copy, .page-header {
    background-color: vars.$base-white;
}

.page-header {
    padding-bottom: vars.$margin-bottom-std * 4;
}


.section-copy {
    padding-top: vars.$margin-bottom-std * 4;
    padding-bottom: vars.$margin-bottom-std;
    margin-top: -(vars.$margin-bottom-std * 3);
}

.section-copy p + p {
    &::before {
        content: url(../images/divider.svg);
        display: block;
        margin-bottom: vars.$margin-bottom-std;
        text-align: center;
    }
}

.section-images {
    @include vars.max-auto(55em);
    picture {
    box-shadow: vars.$shadows-std;
    }
}

// h1, h2, h3, h4, p, .page-description, .page-info {
//     transition: font-size .1s;
// }



.image-headImages-0 {
    width: 100%;
    margin-bottom: .4em;
    height: 14.6em;
}

.image-headImages-1, .image-headImages-2 {
    width: 49.5%;
    width: calc(50% - 2px);
    height: 11.2em;
}

.header-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    picture {
        overflow: hidden;
    } 
    img {
        @extend %img-ctr-responsive;
        max-width: 150%;
    }
}

.page-title {
    @include vars.max-auto(81.4em);
    h1 {
        margin-bottom: -.125em;
    }
}

.page-description {
    font-size: 2em;
    line-height: 1.3;
    margin-bottom: vars.$margin-bottom-std;
}

.page-info p {
    font-size: 1.65em;
    line-height: 1.4;
    // div {
    //     margin-bottom: vars.$margin-bottom-std * .25;
    // }
}

.section-copy, .header-images, .page-description, .page-info {
    padding-left: 5%;
    padding-right: 5%;
}

.header-images {
    margin-bottom: vars.$margin-bottom-std;
}

.work-nav-container {
    @extend .clearfix;
    font-size: 1em;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto #{vars.$margin-bottom-std * 4} auto;
   }

.work-nav {
    width: 49.5%;
    width: calc(50% - 1px);
    display: inline-block;
}

.work-nav-figure {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    overflow: hidden;
    background: color.adjust(vars.$base-accent, $lightness: -40%, $space: oklch);
    color: white;
    img {
        position: absolute;
        top: 0;
        filter: blur(5px);
        opacity: .3;
        transition: .3s;
    }
}

.work-nav-figure:hover img {
    opacity: .85;
    filter: none;
}

.work-nav-caption {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: .675em;
    padding: 0 6px;
}

.work-nav-title {
    @extend %body-header;
}

.work-nav-subtitle {
    font-size: 3.4em;
}

.work-nav-title,
.work-nav-subtitle {
    text-align: center;
    margin-bottom: 0;
}

.work-nav-left {
    float: left;
}

.work-nav-right {
    float: right;
}


@supports (display: grid){
    .section-standard.section-text-left,
    .section-standard.section-text-right  {
        @extend %page-grid-md;
        @extend %page-grid-lg;
    }

    .page-header {
        @extend %page-grid-md;
        @extend %page-grid-lg;
        grid-template-rows: auto auto auto;
    }
}


@media (min-width: vars.$md-width){
    h1 {
        font-size: 12em;
    }

    h2 {
        font-size: 3em;
    }

    .page-description {
        font-size: 2.2em;
    }

    .header-images, 
    .page-description, 
    .page-info, 
    .section-copy {
        padding: 0;
        margin: 0;
    }

    .page-header {
            .header-images {
                grid-column: col 1 / rMrg;
                grid-row: 1;
                margin-bottom: vars.$margin-bottom-std;
                width: 100%;
                max-width: 100%;
            }
        }

        .image-headImages-0,
        .image-headImages-1,
        .image-headImages-2 {
            height: 28.5em;
            margin: 0;
        }

        .image-headImages-0 {
            width: 40%;
        }

        .image-headImages-1 {
            width: 25%;
        }

        .image-headImages-2 {
            width: 33%;
        }

        .page-title {
            @include vars.max-auto(140em);
            grid-column: lMrg / last;
            grid-row: 2;
            margin: 0 auto vars.$margin-bottom-std auto;
        }

        .page-description {
            grid-column: col 1 / gutter 5;
            grid-row: 3;
        }

        .page-roles {
            grid-column: col 7 / span 3;
            grid-row: 3;
        }

        .page-tools {
            grid-column: col 9 / span 3;
            grid-row: 3;
        }

        .page-platforms {
            grid-column: col 11 / span 3;
            grid-row: 3;
        }

    .section-standard.section-text-left  {
        
        .section-copy {
            grid-column: vars.$grid-text-left;
            grid-row: 3 / 4;
        }
        .section-images {
            grid-column: vars.$grid-images-right-edge;
            grid-row: 1 / 6;
            max-width: 100%;
        }
        &:before {
            content: "";
            display: block;
            background-color: vars.$base-white;
            z-index: -100;
            grid-column: lMrg / last;
            grid-row: 2 / span 3;
        }
    }

    .section-standard.section-text-right {

        .section-copy {
            grid-column: vars.$grid-text-right;
            grid-row: 3 / 4;
           
        }
        .section-images {
            grid-column: vars.$grid-images-left-edge;
            grid-row: 1 / 6;
            max-width: 100%;

        }
        &:before {
            content: "";
            display: block;
            background-color: vars.$base-white;
            z-index: -100;
            grid-column: lMrg / last;
            grid-row: 2 / span 3;
        }
     }

     .section-images,
     .section-custom-images {
         margin: 0;
         padding: 0;
     }

     .section-images .image-wrapper {
        transition: .3s;
        &:hover {
            z-index: 100;
            transform: scale(1.1);
        }
    }

    .work-nav {
        width: 49%;
    }
    
    .work-nav-figure {
        padding-bottom: 40%;
    }
    
    .work-nav-caption {
        font-size: 1em;
    }
    
    
}

@media (min-width: vars.$lg-width){
    h1 {
        font-size: 19.5em;
    }

    h2 {
        font-size: 4.2em;
    }

    .page-description {
        font-size: 2.75em;
    }

    h3 {
        font-size: 6em;
    }

    p {
        font-size: 2em;
    }

    .page-roles, .page-tools {
        padding-right: 1.5em;
    }

    .section-standard.section-text-left {
        .section-images {
            grid-column: vars.$grid-images-right;
        }
    }

    .section-standard.section-text-right {
        .section-images {
            grid-column: vars.$grid-images-left;
        }
    }
}

@media (min-width: vars.$xl-width){
 
    
    .content-page,
    .work-nav-container {
        font-size: 1.1em;
    }

    .section-copy {
        font-size: .9em;
    }
    
}

#cm-logo {
    width: 100%;
    height: 100%;

}


address.contact-links a#linkedinoverride.linkedin-link.contact-link{
    display: block!important;
}


