@use 'parts/reset.scss';
// @import 'parts/font.scss';
@use 'parts/variables.scss' as vars;
@use 'parts/base.scss';

// Layout CSS
@use 'parts/layout.scss';

// Page Specific CSS
@use 'parts/page-home.scss';
@use 'parts/page-lgb-cw.scss';
@use 'parts/page-h2o-cw.scss';
@use 'parts/page-about.scss';
@use 'parts/page-lagertown.scss';
@use 'parts/page-h2o-email.scss'; 