{{load this "lgb-cw"}}
{{load this "h2o-cw"}}
{{load this "about-me"}}


{{#> base bodyClass="home" }}
<header class="home-header">
  <h1 class="home-title">Chris&nbsp;Murphy</h1>
  <div class="home-subhead">
      <div class="home-subtitle">
        <picture class="home-subtitle-logo">
          {{> cm-logo}}
        </picture>
        <div class="home-subtitle-copy">
          <h2 class="home-subtitle-copy-1">
            visual&nbsp;designer
          </h2>
          <h3 class="home-subtitle-copy-2">
            UX &bull; UI &bull; Front-End
          </h3>
        </div>
    </div>
    <blockquote class="home-description">
      <p>
      A designer with a passion for visual storytelling &amp; the<br class="home-description-brk" /> tools to take a project from conception to completion.
      </p>
    </blockquote>
  </div>
</header>
<main id="work">
  <section class="project-thumbs-range">
    {{> thumb-home data=glunzsite}}
    {{> thumb-home data=h2oplussite}}
  </section>
</main>
{{/ base }} 