---
import Layout from "../layouts/Layout.astro";
import ThumbHome from "../components/ThumbHome.astro";
import HomeHero from "src/components/HomeHero.astro";
// Data imports
import lgbCw from "src/data/lgb-cw";
import h2oCw from "../data/h2o-cw";
import lagertown from "src/data/lagertown";
import h2oEmail from "src/data/h2o-email";
---

<Layout classes={["home"]}>

  <main id="work">
    <HomeHero />
    <section class="project-thumbs-range">
      <ThumbHome data={lgbCw} />
      <ThumbHome data={h2oCw} />
      <ThumbHome data={lagertown} />
      <ThumbHome data={h2oEmail} />
    </section>
  </main>
</Layout>
