{{load this "lgb-cw"}}
{{load this "h2o-cw"}}
{{load this "about-me"}}


{{#> base bodyClass="home" }}
<header class="home-header">
  <h1 class="home-title">Chris&nbsp;Murphy</h1>
  <h2 class="home-subhead">visual design: UX, UI, &amp; Front-End</h2>
</header>
<main id="work">
  <section class="project-thumbs-range">
    {{> thumb-home data=glunzsite}}
    {{> thumb-home data=h2oplussite}}
  </section>
</main>
{{/ base }} 