{{load this "lgb-cw"}}
{{#> base bodyClass="home"  }}
<h1>{{glunzsite.title}}</h1>
  <a href="{{glunzsite.slug}}.html"><h3 style="position: absolute; top: 20px; margin:0 auto; z-index: 100;">{{glunzsite.title}}</h3></a>
{{/ base }}