body.page,
body.home,
body.about-me {
    background-color: $background-grey;
}

.content-page {
    width: 100%;
    // max-width: 626px;
    margin: 0;
    picture {
        position: relative;
    }
    h3 {
        text-transform: uppercase;
    }
    h3, p {
        @include max-auto(626px);
    }
}

.header-images, .page-description, .page-info, .header-images {
    @include max-auto(62.6em);
}

.section-copy, .page-header {
    background-color: $base-white;
}

.page-header {
    padding-bottom: $margin-bottom-std * 4;
}


.section-copy {
    padding-top: $margin-bottom-std * 4;
    padding-bottom: $margin-bottom-std;
    margin-top: -($margin-bottom-std * 3);
}

.section-copy p + p {
    &::before {
        content: url(../images/divider.svg);
        display: block;
        margin-bottom: $margin-bottom-std;
        text-align: center;
    }
}

.section-images {
    @include max-auto(55em);
    picture {
    box-shadow: $shadows-std;
    }
}

h1, h2, h3, h4, p, .page-description, .page-info {
    transition: font-size .1s;
}



.image-headImages-0 {
    width: 100%;
    margin-bottom: .4em;
    height: 14.6em;
}

.image-headImages-1, .image-headImages-2 {
    width: 49.5%;
    width: calc(50% - 2px);
    height: 11.2em;
}

.header-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    picture {
        overflow: hidden;
    } 
    img {
        margin: 0;
        height: auto;
        min-height: 100%;
        width: auto;
        min-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.page-title {
    @include max-auto(81.4em);
    h1 {
        margin-bottom: -.125em;
    }
}

.page-description {
    font-size: 2em;
    line-height: 1.3;
    margin-bottom: $margin-bottom-std;
}

.page-info {
    font-size: 1.5em;
    line-height: 1.4;
    div {
        margin-bottom: $margin-bottom-std * .25;
    }
}

.section-copy, .header-images, .page-description, .page-info {
    padding-left: 5%;
    padding-right: 5%;
}

.header-images {
    margin-bottom: $margin-bottom-std;
}

.section-standard.section-text-left,
.section-standard.section-text-right  {
    @extend %page-grid-md;
    @extend %page-grid-lg;
}

.page-header {
    @extend %page-grid-md;
    @extend %page-grid-lg;
    grid-template-rows: auto auto auto;
}



@media (min-width: $md-width){
    h1 {
        font-size: 12em;
    }

    h2 {
        font-size: 3em;
    }

    .page-description {
        font-size: 2.2em;
    }

    .header-images, 
    .page-description, 
    .page-info, 
    .section-copy {
        padding: 0;
        margin: 0;
    }

    .page-header {
            .header-images {
                grid-column: col 1 / rMrg;
                grid-row: 1;
                margin-bottom: $margin-bottom-std;
                width: 100%;
                max-width: 100%;
            }
        }

        .image-headImages-0,
        .image-headImages-1,
        .image-headImages-2 {
            height: 28.5em;
            margin: 0;
        }

        .image-headImages-0 {
            width: 40%;
        }

        .image-headImages-1 {
            width: 25%;
        }

        .image-headImages-2 {
            width: 33%;
        }

        .page-title {
            grid-column: lMrg / last;
            grid-row: 2;
            margin: 0 0 $margin-bottom-std 0;
        }

        .page-description {
            grid-column: col 1 / gutter 5;
            grid-row: 3;
        }

        .page-roles {
            grid-column: col 7 / span 3;
            grid-row: 3;
        }

        .page-tools {
            grid-column: col 9 / span 3;
            grid-row: 3;
        }

        .page-platforms {
            grid-column: col 11 / span 3;
            grid-row: 3;
        }

    .section-standard.section-text-left  {
        
        .section-copy {
            grid-column: $grid-text-left;
            grid-row: 3 / 4;
        }
        .section-images {
            grid-column: $grid-images-right-edge;
            grid-row: 1 / 6;
            max-width: 100%;
        }
        &:before {
            content: "";
            display: block;
            background-color: $base-white;
            z-index: -100;
            grid-column: lMrg / last;
            grid-row: 2 / span 3;
        }
    }

    .section-standard.section-text-right {

        .section-copy {
            grid-column: $grid-text-right;
            grid-row: 3 / 4;
           
        }
        .section-images {
            grid-column: $grid-images-left-edge;
            grid-row: 1 / 6;
            max-width: 100%;

        }
        &:before {
            content: "";
            display: block;
            background-color: $base-white;
            z-index: -100;
            grid-column: lMrg / last;
            grid-row: 2 / span 3;
        }
     }

     .section-images,
     .section-custom-images {
         margin: 0;
         padding: 0;
     }
    
}

@media (min-width: $lg-width){
    h1 {
        font-size: 19.5em;
    }

    h2 {
        font-size: 4.2em;
    }

    .page-description {
        font-size: 2.9em;
    }

    h3 {
        font-size: 6em;
    }

    p {
        font-size: 2em;
    }

    .page-roles, .page-tools {
        padding-right: 1.5em;
    }

    .section-standard.section-text-left {
        .section-images {
            grid-column: $grid-images-right;
        }
    }

    .section-standard.section-text-right {
        .section-images {
            grid-column: $grid-images-left;
        }
    }
}

@media (min-width: $xl-width){
    .page-title{
        @include max-auto(140em);
    }
    
    .content-page {
        font-size: 1.1em;
    }

    .section-copy {
        font-size: .9em;
    }
    
}

#cm-logo {
    width: 100%;
    height: 100%;

}