//////// Begin page CSS Wrap //////////
.page-lagertown{

@supports (display: grid){
    .section-custom {
        @extend %page-grid-md;
        @extend %page-grid-lg;
    
    }
}


.image-headImages-0{
    width: 100%;
    max-width: none;
    // height: 35vw;
    img{
        height: 100%;
        width: auto;
    }
    @media(max-width: 384px){
        height: 35vw;
    }
}


.section1 picture{
    box-shadow: none;
}

.image-section1-0 {
    margin-bottom: $margin-bottom-std * 2;
}

.image-section1-0,
.lagertown-swatch-wrap {
    padding: 0 5%;
}

.lagertown-swatch-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
}

.lagertown-swatch {
    width: 20%;
    // padding-bottom:20%;
    // background-color: blue;
    div {
        width: 100%;
        padding-top: 100%;
    }

    p {
        @extend %light-condensed;
        font-size: 1.7em;
        text-align: center;
    }
}

.lagertown-swatch-1 {
    background-color: #4E4D4D;
}
.lagertown-swatch-2 {
    background-color: #9B3E36;
}
.lagertown-swatch-3 {
    background-color: #F7ED6C;
}
div.lagertown-swatch-4{
    background-color: #12A6E0;
    padding-top: 50%;
    margin-top: 25%;
    margin-bottom: 25%;
}

.section1-copy-0 {
    padding-top: $margin-bottom-std * 6;
    padding-bottom: $margin-bottom-std * 2;
    margin-top: -($margin-bottom-std * 5.5);
    background-color: $base-white;
    background-image: url(../images/lagertown-background.jpg);
    background-size: cover;
    background-position: center 50%;
    @media (min-resolution: 108dpi){
        background-image: url(../images/lagertown-background-1.5x.jpg);
    }
    @media (min-resolution: 144dpi){
        background-image: url(../images/lagertown-background-2x.jpg);
    }
    @media (min-resolution: 216dpi){
        background-image: url(../images/lagertown-background-3x.jpg);
    }
    @media (min-width: $md-width){
        background-image: none;
    }
}

.section-images-section2-1 {
    position: relative;
    &::after {
    content: '';
    position: absolute;
    width: 150%;
    height: 100%;
    z-index: -10;
    top: 0;
    left: -25%;
    background: $base-white;
    }
}

.image-section2-0 {
    width: 65%;
}

.image-section2-1 {
    width: 85%;
    margin-left: 15%;
    margin-top: -23%
}

.image-section2-2 {
    width: 68%;
}

.image-section2-3 {
    box-shadow: none;
    width: 49%;
    margin-left: 54%;
    margin-top: -37%;
}

.section2-copy-1 {
    margin-top: -($margin-bottom-std * 4);
}

.image-section3-0 {
    width: 94%;
}

.image-section3-1 {
    width: 44%;
    margin-left: 28%;
    margin-top: -16%;
    z-index: 10;
}

.image-section3-2 {
    width: 86%;
    margin-left: 14%;
    margin-top: -9%;
}


@media (min-width: $md-width){
    .section-standard.section1 .section-images-section1-0 {
        grid-row: 1/4;
    }

    .section-standard.section1:before {
        content: none;
    }

    .section1-copy-0 {
        background: none;
    }

    .section-images-section1-0 {
        align-self: center;
    }

    .image-section1-0 {
        padding: 0 5% 0 0;
    }

    .lagertown-swatch-wrap {
        padding: 0 10%;
    }

    .image-section1-0,
    .lagertown-swatch-wrap {
        margin-bottom: $margin-bottom-std * 2;
    }

    .section2 {
        grid-template-rows: 1fr minmax(0,4rem) auto auto minmax(0,4rem) 1fr;
        &::after {
            content: '';
            background: $base-white;
            grid-column: lMrg / last;
            grid-row: 2/6;
            z-index: -10;
        }
    }

    .section2 .section-images {
        grid-column: $grid-images-left-edge;
    }

    .section2-copy-0 {
        grid-column: $grid-text-right;
        grid-row: 3/5;
    }

    .section-images-section2-1::after {
        content: none;
    }

    .section-images-section2-0 {
        grid-row: 1/4;
        align-self: center;
    }

    .section-images-section2-1 {
        grid-row: 4/7;
        top: -3%;
    }

    .image-section2-1 {
        margin-top: -6%;
    }

}

@media (min-width: $lg-width) {
    .image-section1-0 {
        padding: 0;
    }

    .section2 .section-images {
        grid-column: $grid-images-left;
    }

}



///////////// End page CSS Wrap //////////
}