.about-me {

    header {
        position: relative;
    }

    h1 {
        font-size: 94vw;
        letter-spacing: 0;
        background-clip: text;
        background-image: url(../images/chris-murphy-portrait.png);
        color: transparent;
        background-size: cover;
        line-height: 70%;
        transition: 0s;
        text-align: center;
    }

    h2 {
        font-size: 6vw;
        display: inline-block;
        background: $base-white;
        border-radius: 1em 1em 1em 1em;
        padding: .125em .125em .3em .125em;
        position: absolute;
        bottom: -6%;
        right: 10%;
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: .125em;
    }

    h4 {
        font-size: 2.3em;
    }

    blockquote {
        margin-bottom: $margin-bottom-std * 6;
    }

    .about-article {
        position: relative;
        width: 100%;
        height: auto;
    }

    .bg-logo {
        width: 150%;
        left: -25%;
        position: absolute;
        top: -12%;
        z-index: -10;
        #cm-logo path {
            fill: $base-white;
        }
    }

    .about-article {
        font-size: 1em;
        margin-bottom: $margin-bottom-std * 4;
        p {
            margin-bottom: $margin-bottom-std * 2;
            line-height: 1.8;
        }
    }

    .about-quote {
        text-align: center;
    }

    .about-body {
        max-width: 80%;
        width: 45em;
        margin: 0 auto;
        position: relative;
    }

    @media (min-width: $md-width) {
        .about-article {
            font-size: 1.176em;
        }
    }

    @media (min-width: $lg-width) {
        header {
            width: 998px;
            margin-left: auto;
            margin-right: auto;
        }
        h1 {
            font-size: 938px;
        }

        h2 {
            font-size: 60px;
        }
    }

    @media (min-width: $xl-width) {
        .about-article {
            font-size: 1.5em;
        }
    }

}

