.home {
    .home-title {
        font-size: 40.5vw;
        letter-spacing: 0;
        margin-left: -.7vw;
    }

    .home-subhead {
        text-align: center;
        padding: .25em;
        background: $background-grey;
        margin-top: -18%;
        position: relative;
    }
}