// FONTS
$page-header-font: rama-gothic-c, 'Rama Gothic C', Impact, sans-serif; 
%page-header {
    font-family: $page-header-font;
    font-weight: 900;
}

$page-subheader-font: minion-3-subhead, 'Minion 3 Subhead', Times New Roman, Times, serif; 
%page-subheader {
    font-family: $page-subheader-font;
    font-weight: 400;
}

$body-header-font: rama-gothic-m, 'Rama Gothic M', Impact, sans-serif; 
%body-header {
    font-family: $body-header-font;
    font-weight: 700;
}

$body-text-font: minion-3, 'Minion 3', Times New Roman, Times, serif;
%body-text {
    font-family: $body-text-font;
    font-weight: 400;
}

$light-condensed-font: rama-gothic-e, 'Rama Gothic E', Arial, sans-serif; 
%light-condensed {
    font-family: $light-condensed-font;
    font-weight: 300;
}

// COLORS
$base-dark: #392E25;
$base-accent: #DF4D25;
$background-grey: #F6F5F5;
$positive-green: #417505;
$base-white: #fff;

$base-light: lighten($base-dark, 15%);
$base-lighter: lighten($base-dark, 50%);

$margin-bottom-std: 1rem;

// $shadows-std: -2px 2px 4px rgba(0, 0, 0, .3);

$shadows-std:  -1px 4px 6px 0px rgba(0,0,0,.3);

// Media-Query Breaks

$md-width: 740px;
$lg-width: 998px;
$xl-width: 1400px;

.lg-show {
    display: none;
    @media (min-width: $lg-width){
        display: block;
    }
}

.md-show {
    display: none;
    @media (min-width: $md-width){
        display: block;
    }
}

.md-hide {
    display: block;
    @media (min-width: $md-width) {
        display: none;
    }
}

.lg-hide {
    display: block;
    @media (min-width: $lg-width) {
        display: none;
    }
}


@mixin max-auto($prop) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $prop;
}

@mixin makeColumnsByMargin( $marginWidth, $columnsQty, $columnFr, $gutterFr ) {
    $cols: [col];
    $gutters: [gutter];
    $grid-template-cols: "";
    @for $i from 1 through $columnsQty - 1{
        $grid-template-cols: $grid-template-cols + $cols + " " + $columnFr + "fr " + $gutters + " " + $gutterFr +  "fr ";
    }
    grid-template-columns: [lMrg] $marginWidth #{$grid-template-cols} $cols #{$columnFr}fr [rMrg]  $marginWidth [last];
}

@mixin makeColumnsByWidth( $totalWidth, $columnsQty, $gutterWidth, $units) {
    $cols: [col];
    $gutters: [gutter];
    // $content: "";
    $remainingWidth: ($totalWidth - ($columnsQty - 1) * $gutterWidth);
    $grid-template-cols: "";
    @if $remainingWidth < $columnsQty {
        @error "Gutter width is too large for total width!"
    }
    $columnWidth: $remainingWidth / $columnsQty;
    @for $i from 1 through $columnsQty - 1{
        $grid-template-cols: $grid-template-cols + $cols + " " + $columnWidth + $units + " " + $gutters + " " + $gutterWidth + $units + " ";
    }
    grid-template-columns: [lMrg] 1fr #{$grid-template-cols} $cols #{$columnWidth}#{$units}  [rMrg] 1fr;
}

@media (min-width: $md-width) {

    %page-grid-header-md {
        display: grid;
        grid-template-columns: [lMrg] .5fr [lCol] 5fr [gutter] 1fr [rCol1] 2fr [rCol2] 2fr [rCol3] 2fr [rMrg] .5fr [last];
        grid-template-rows: auto auto auto;
    }
    %page-grid-md {
        display: grid;
        @include makeColumnsByMargin(.5fr, 12, 1, .25);
        grid-template-rows: 1fr minmax(0px, 4rem) auto minmax(0px, 4rem) 1fr;
    }
}

@media(min-width: $lg-width) {

    %page-grid-header-lg {
        display: grid;
        grid-template-columns: [lMrg] .5fr [lCol] 38.5em [gutter] 9.5em [rCol1] 16em [rCol2] 16em [rCol3] 14.5em [rMrg] .5fr [last];
        grid-template-rows: auto auto auto;
    }

    %page-grid-lg {
        display: grid;
        @include makeColumnsByWidth(94.5, 12, 1.5, 'em');
        grid-template-rows: 1fr minmax(0px, 4rem) auto minmax(0px, 4rem) 1fr;
    }
}

$grid-text-left: col 1 / gutter 4;

$grid-images-right-edge: col 6 / last;

$grid-images-right: col 6 / rMrg;

$grid-text-right: col 9 / rMrg;

$grid-images-left-edge: lMrg / gutter 7;

$grid-images-left: col 1 / gutter 7;

%extra-bg-white-grid {
    content: "";
    display: block;
    background-color: $base-white;
    z-index: -100;
    grid-column: lMrg / last;
    grid-row: 2 / span 3;
}

%img-ctr-responsive {
    margin: 0;
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}







// @media (min-width: $md-width) {

//     %page-grid-header-md {
//         display: grid;
//         grid-template-columns: [lMrg] .5fr [lCol] 5fr [gutter] 1fr [rCol1] 2fr [rCol2] 2fr [rCol3] 2fr [rMrg] .5fr [last];
//         grid-template-rows: auto auto auto;
//     }

//     %page-grid-left-text-md {
//         display: grid;
//         grid-template-columns: [lMrg] .5fr [lCol] 4fr [gutter] 1fr [rCol] 7fr [rMrg] .5fr [last];
//         grid-template-rows: 1fr minmax(0px, 4rem) auto minmax(0px, 4rem) 1fr;
//         grid-template-areas: " . . . rightCol rightCol "
//                              " . . . rightCol rightCol "
//                              " . leftCol . rightCol rightCol "
//                              " . . . rightCol rightCol "
//                              " . . . rightCol rightCol ";
//     }

//     %page-grid-right-text-md {
//         display: grid;
//          @include makeColumnsByMargin(.5fr, 12, 1, .25);
//         grid-template-columns: [lMrg] .5fr [lCol] 7fr [gutter] 2rem [rCol] 4fr [rMrg] .5fr [last];
//         grid-template-rows: 1fr minmax(0px, 4rem) auto minmax(0px, 4rem) 1fr;
//         grid-template-areas: " leftCol leftCol . . . "
//                              " leftCol leftCol . . . "
//                              " leftCol leftCol . rightCol . "
//                              " leftCol leftCol . . . "
//                              " leftCol leftCol . . . ";
//     }


// }

// @media(min-width: $lg-width) {

//     %page-grid-header-lg {
//         display: grid;
//         grid-template-columns: [lMrg] .5fr [lCol] 38.5em [gutter] 9.5em [rCol1] 16em [rCol2] 16em [rCol3] 14.5em [rMrg] .5fr [last];
//         grid-template-rows: auto auto auto;
//     }

//     %page-grid-left-text-lg {
//         display: grid;
//         grid-template-columns: [lMrg] .5fr [lCol] 30.5em [gutter] 9.5em [rCol] 54.5em [rMrg] .5fr [last];
//         grid-template-rows: 1fr minmax(0px, 4rem) auto minmax(0px, 4rem) 1fr;
//         grid-template-areas:    " . . . rightCol . "
//                                 " . . . rightCol . "
//                                 " . leftCol . rightCol . "
//                                 " . . . rightCol . "
//                                 " . . . rightCol . ";
//     }

//     %page-grid-right-text-lg {
//         grid-template-columns: [lMrg] .5fr [lCol] 54.5em  [gutter] 9.5em [rCol] 30.5em [rMrg] .5fr [last];
//         grid-template-rows: 1fr minmax(0px, 4rem) auto minmax(0px, 4rem) 1fr;
//         grid-template-areas: " . leftCol . . . "
//                             " . leftCol . . . "
//                             " . leftCol . rightCol . "
//                             " . leftCol . . . "
//                             " . leftCol . . . ";
//     }

// }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }