---
import UpworkLogo from "./svgs/Upwork.svg";
---

<div class="contact-wrap">
  <div class="contact-info">
    <h4 class="contact-title">
      <a href="https://www.upwork.com/freelancers/~0152a01eeb4d5e7dc0">
        connect with me on <span>upwork</span>
      </a>
    </h4>
    <div class="upwork-logo" aria-hidden="true">
      <a href="https://www.upwork.com/freelancers/~0152a01eeb4d5e7dc0">
        <UpworkLogo />
      </a>
    </div>
  </div>
</div>

<style lang="scss">
  @use "../styles/parts/variables.scss" as vars;
  .contact-info {
    @media (min-width: vars.$md-width) {
      display: flex;
      align-items: last baseline;
      justify-content: space-between;
    }
  }
  .contact-title {
    span {
      color: vars.$base-accent;
      text-decoration: underline;
    }
  }
  .upwork-logo {
    width: 100px;
  }
</style>
