---
import EmailIcon from "./svgs/EmailIcon.svg";
import LinkedInLogo from "./svgs/LinkedInLogo.svg";
---
<div class="contact-wrap">
    <div class="contact-info">
      <h4 class="contact-title">contact me:</h4>
      <address class="contact-links">
        <a
          class="contact-link email-link"
          href="mailto:chrismurphydpi@yahoo.com"
        >
          <span class="contact-link-image email-link-image">
            <EmailIcon />
          </span>
          chrismurphydpi@yahoo.com
        </a>
        <div class="contact-link contact-bullet">&bull;</div>
        <a
          id="linkedinoverride"
          style="display:block!important"
          class="contact-link linkedin-link"
          href="https://www.linkedin.com/in/chrismurphywebdesign/"
        >
          <span class="contact-link-image email-link-image">
            <LinkedInLogo />
          </span>
          in/chrismurphywebdesign
        </a>
      </address>
    </div>
  </div>