---
import CmLogo from "./svgs/CmLogo.svg";
import Contact from "./Contact.astro";
---

<footer class="site-footer">
  <nav class="footer-nav">
    <a class="nav-link about-link" href="/about-me"> about </a>

    <a class="nav-logo" href="/" aria-label="home">
      <CmLogo />
    </a>

    <a class="nav-link work-link" href="/#work"> work </a>
  </nav>

  <Contact />

</footer>
