---
interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
const pageTitle = title || "Chris Murphy | Web Development & Design";
const pageDescription =
  description ||
  "The web portfolio of Chris Murphy. A Chicago based web developer, with expertise in front-end development and UI and UX design.";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#df4d25" />
<meta name="msapplication-TileColor" content="#df4d25" />
<meta name="theme-color" content="#df4d25" />
<link rel="stylesheet" href="https://use.typekit.net/qzn6qfi.css" />
<title>{pageTitle}</title>
<meta name="description" content={pageDescription} />
<meta name="author" content="Chris Murphy" />
