---
import CmLogo from './svgs/CmLogo.svg';
---
<header class="home-header">
    <h1 class="home-title">Chris&nbsp;Murphy</h1>
    <div class="home-subhead">
      <div class="home-subtitle">
        <picture class="home-subtitle-logo"><CmLogo /></picture>
        <div class="home-subtitle-copy">
          <h2 class="home-subtitle-copy-1">web&nbsp;developer</h2>
          <h3 class="home-subtitle-copy-2">Front-End &bull; UI &bull; UX</h3>
        </div>
      </div>
      <blockquote class="home-description">
        <p>
          A develoer with a passion for building websites &amp; the<br
            class="home-description-brk"
          /> tools to take a project from conception to completion.
        </p>
      </blockquote>
    </div>
  </header>