---
import CmLogo from "./svgs/CmLogo.svg"
---
<header class="site-header">
    <a class="header-link" href="/">
        <div class="header-content">
            <picture class="header-logo"><CmLogo /></picture>
            <h1 class="header-title">Chris Murphy</h1>
            <h2 class="header-subtitle">Web Developer &bull; Front-end | UI | UX</h2>
        </div>
    </a>
</header>