---
import CmLogo from "./svgs/CmLogo.svg";
import EmailIcon from "./svgs/EmailIcon.svg";
import LinkedInLogo from "./svgs/LinkedInLogo.svg";
---

<footer class="site-footer">
  <nav class="footer-nav">
    <a class="nav-link about-link" href="/about-me"> about </a>

    <a class="nav-logo" href="/" aria-label="home">
      <CmLogo />
    </a>

    <a class="nav-link work-link" href="/#work"> work </a>
  </nav>

  <div class="contact-wrap">
    <div class="contact-info">
      <h4 class="contact-title">connect with me on Upwork:</h4>
      <address class="contact-links">
        <a
          class="contact-link email-link"
          href="mailto:chrismurphydpi@yahoo.com"
        >
          <span class="contact-link-image email-link-image">
            <EmailIcon />
          </span>
          chrismurphydpi@yahoo.com
        </a>
      </address>
    </div>
  </div>
</footer>
