<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Webpack + Handlebars</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="body {{baseData.type}} {{baseData.id}} {{bodyClass}}">

    {{> @partial-block}}
    
</body>
</html>