<footer class="site-footer">
    <nav class="footer-nav">
        <a class="nav-link about-link" href="about-me.html">
            about
        </a>

        <a class="nav-logo" href="index.html">
            {{> cm-logo}}
        </a>

        <a class="nav-link work-link" href="index.html#work">
            work
        </a>

    </nav>

    <div class="contact-wrap">
        <div class="contact-info">
            <h4 class="contact-title">
                contact me:
            </h4>
            <address class="contact-links">
                <a class="contact-link email-link" href="mailto:chrismurphydpi@yahoo.com">
                    <span class="contact-link-image email-link-image">
                        {{> email-icon}}
                    </span>
                        chrismurphydpi@yahoo.com
                </a>
                    <div class="contact-link contact-bullet">&bull;</div>
                <a id="linkedinoverride" style="display:block!important" class="contact-link linkedin-link" href="https://www.linkedin.com/in/chrismurphywebdesign/">
                    <span class="contact-link-image email-link-image">
                    {{> linkedin-logo}}
                </span>
                    in/chrismurphywebdesign
                </a>
            </address>
        </div>
    </div>

</footer>