{{load this 'lgb-cw'}}
<div class="wrapper margin-0-auto size-small text-center circle">
  <h1>Webpack with Handlebars</h1>
  <main>
    <img src="{{image 'webpack.svg'}}" alt="Webpack"/> 
    <img src="{{image 'handlebars.svg'}}" alt="Handlebars"/>
  </main>
  <footer>
    <span>{{glunzsite.title}}</span>
  </footer>
</div>