<header class="site-header">
    <a class="header-link" href="index.html">
        <div class="header-content">
            <picture class="header-logo"> {{> cm-logo}}</picture>
            <h1 class="header-title">Chris Murphy</h1>
            <h2 class="header-subtitle">Visual Design &bull; Front-end Development</h2>
        </div>
    </a>
</header>