---
import "../styles/styles.scss";
import Head from "src/components/Head.astro";
import Footer from "src/components/Footer.astro";
import ClientRouter from "astro/components/ClientRouter.astro";

interface Props {
  title?: string;
  classes?: Array<string>;
  description?: string;
}
const { title, classes, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} />
    <ClientRouter />
  </head>
  <body class:list={["body", classes]} >
    <slot />
    <Footer />
  </body>
</html>
